# 1. power of index

In [19]:
import pandas as pd
import yfinance as yf

In [20]:
initialData  = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", 
                     names = ['age','workclass','fnlwgt', 'education', 'education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss', 'hours_per_week', 'native_country','label'], 
                     index_col = False)
initialData.head(2)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [21]:
# way to inspect the data
initialData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  label           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## picking random rows from dataframe

In [22]:
# the way to access the rows is by using loc => labels/name , iloc => position number
# getting 10000 records randomly and then sorting them by index values
data = initialData.sample(10000, random_state=100).sort_index(axis=0)
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K

## renaming index column

In [23]:
# renaming index
print(data.index.name)
data.index.name = 'index_data'
print(data.index.name)

None
index_data

In [24]:
data.head(5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
index_data,,,,,,,,,,,,,,,
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K

In [25]:
# getting columnnames
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'label'],
      dtype='object')

## loc and iloc

In [26]:
# reading a column value filtering with index value
data.loc[3, ['age']]

age    53
Name: 3, dtype: object

In [27]:
# getting the entire row filtering with index value
data.loc[3]

age                                53
workclass                     Private
fnlwgt                         234721
education                        11th
education_num                       7
marital_status     Married-civ-spouse
occupation          Handlers-cleaners
relationship                  Husband
race                            Black
sex                              Male
capital_gain                        0
capital_loss                        0
hours_per_week                     40
native_country          United-States
label                           <=50K
Name: 3, dtype: object

In [28]:
# however usig iloc reads the data using index-position and not by index-value
data.iloc[3, 0]

np.int64(31)

In [29]:
# similarly to get the entire record
data.iloc[3]

age                            31
workclass                 Private
fnlwgt                      45781
education                 Masters
education_num                  14
marital_status      Never-married
occupation         Prof-specialty
relationship        Not-in-family
race                        White
sex                        Female
capital_gain                14084
capital_loss                    0
hours_per_week                 50
native_country      United-States
label                        >50K
Name: 8, dtype: object

In [30]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'label'],
      dtype='object')

In [31]:
# selecting only specific columns and getting rid of of the unwanted ones
cols = ['age','education', 'marital_status', 'race','sex','native_country','label']
data = data[cols]
data.head()

,age,education,marital_status,race,sex,native_country,label
index_data,,,,,,,
3,53,11th,Married-civ-spouse,Black,Male,United-States,<=50K
4,28,Bachelors,Married-civ-spouse,Black,Female,Cuba,<=50K
6,49,9th,Married-spouse-absent,Black,Female,Jamaica,<=50K
8,31,Masters,Never-married,White,Female,United-States,>50K
11,30,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K

## resetting index

In [32]:
#resetting index
data.reset_index(inplace=True)
data.head(5)

,index_data,age,education,marital_status,race,sex,native_country,label
0,3,53,11th,Married-civ-spouse,Black,Male,United-States,<=50K
1,4,28,Bachelors,Married-civ-spouse,Black,Female,Cuba,<=50K
2,6,49,9th,Married-spouse-absent,Black,Female,Jamaica,<=50K
3,8,31,Masters,Never-married,White,Female,United-States,>50K
4,11,30,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K

In [33]:
data.index

RangeIndex(start=0, stop=10000, step=1)

In [34]:
#note that simply resetting the index , adds one more index column while the previous index column is left-untouched

## getting index values of a given column

In [35]:
# for getting unique values in a particular column 
data.native_country.unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Honduras',
       ' Puerto-Rico', ' Mexico', ' England', ' Italy', ' Thailand',
       ' Portugal', ' Philippines', ' France', ' Canada',
       ' Dominican-Republic', ' Germany', ' China', ' South', ' Japan',
       ' Iran', ' Outlying-US(Guam-USVI-etc)', ' Haiti',
       ' Trinadad&Tobago', ' Greece', ' El-Salvador', ' Taiwan',
       ' Poland', ' Guatemala', ' Vietnam', ' Cambodia', ' Ireland',
       ' Laos', ' Columbia', ' Yugoslavia', ' Nicaragua', ' Ecuador',
       ' Peru', ' Hungary', ' Holand-Netherlands', ' Hong', ' Scotland'],
      dtype=object)

In [36]:
indiaData = data[data.native_country  == ' India']
indiaData

,index_data,age,education,marital_status,race,sex,native_country,label
4,11,30,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
312,1029,48,Masters,Married-spouse-absent,Asian-Pac-Islander,Male,India,<=50K
637,2130,28,11th,Separated,Asian-Pac-Islander,Female,India,<=50K
902,2989,44,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
1365,4480,30,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
1379,4523,57,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
1705,5629,46,Some-college,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
2119,6964,29,Doctorate,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
2388,7844,35,Masters,Married-civ-spouse,White,Male,India,<=50K
2467,8124,36,Prof-school,Never-married,Other,Male,India,>50K
2796,9128,18,HS-grad,Never-married,Asian-Pac-Islander,Female,India,<=50K
3016,9793,45,Masters,Married-civ-spouse,White,Male,India,<=50K
3063,9939,43,Prof-school,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
3265,10590,35,Prof-school,Never-married,Asian-Pac-Islander,Male,India,>50K
3285,10661,59,Prof-school,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
3655,11835,38,Bachelors,Married-spouse-absent,Other,Male,India,<=50K
3811,12368,24,Some-college,Never-married,White,Male,India,<=50K
4171,13551,40,Doctorate,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
4515,14685,36,Masters,Widowed,Asian-Pac-Islander,Female,India,<=50K
5192,16923,41,Assoc-voc,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
5471,17834,29,HS-grad,Married-spouse-absent,Asian-Pac-Islander,Male,India,>50K
6122,19926,27,Prof-school,Never-married,Asian-Pac-Islander,Male,India,<=50K
6133,19959,45,9th,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
6482,21128,30,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
7391,24154,46,Bachelors,Married-civ-spouse,White,Male,India,>50K
7891,25739,35,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
8069,26356,34,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
8355,27244,33,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
8551,27889,17,11th,Never-married,White,Female,India,<=50K
8580,27974,33,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,<=50K
8687,28264,51,Prof-school,Married-civ-spouse,Other,Male,India,>50K
8742,28433,42,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
8751,28452,53,Masters,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K
8820,28693,32,11th,Never-married,Asian-Pac-Islander,Male,India,<=50K
8853,28798,30,Masters,Divorced,Asian-Pac-Islander,Male,India,>50K
9513,30871,26,Masters,Never-married,Asian-Pac-Islander,Male,India,<=50K
9644,31327,38,Bachelors,Married-civ-spouse,Asian-Pac-Islander,Male,India,>50K

## crosstab

In [37]:
# using cross tab
cross = pd.crosstab(indiaData.sex, indiaData.label)
cross

label   <=50K  >50K
sex
Female      4     0
Male       16    17

In [38]:
cross.index

Index([' Female', ' Male'], dtype='object', name='sex')

In [39]:
# to filter only female record. thus we have a requriement to filter by index value hence we'l be using loc
cross.loc[' Female']

label
<=50K    4
>50K     0
Name:  Female, dtype: int64

In [40]:
# doing filter on the actual dataframe to verify the count in the crosstab
indiaData_gt_50  = indiaData[(indiaData.label ==' <=50K') & (indiaData.sex==' Female')]
len(indiaData_gt_50)

4

# handling missing data

In [63]:
tickers = ['AAPL','TSLA']
tickerData = yf.download(tickers, period='1y')
tickerData = tickerData['Close']

[*********************100%***********************]  2 of 2 completed

In [64]:
# gives me all the index values
tickerData.index

DatetimeIndex(['2024-02-22', '2024-02-23', '2024-02-26', '2024-02-27',
               '2024-02-28', '2024-02-29', '2024-03-01', '2024-03-04',
               '2024-03-05', '2024-03-06',
               ...
               '2025-02-07', '2025-02-10', '2025-02-11', '2025-02-12',
               '2025-02-13', '2025-02-14', '2025-02-18', '2025-02-19',
               '2025-02-20', '2025-02-21'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

## extracting date related info from index

In [65]:
#to see only the day
tickerData.index.day

Index([22, 23, 26, 27, 28, 29,  1,  4,  5,  6,
       ...
        7, 10, 11, 12, 13, 14, 18, 19, 20, 21],
      dtype='int32', name='Date', length=251)

In [66]:
#to see only year
tickerData.index.year

Index([2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024,
       ...
       2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025],
      dtype='int32', name='Date', length=251)

In [67]:
#optionally we can add additinal columns as shown below 
tickerData['day_name'] = tickerData.index.day_name()
tickerData['isEndOfMonth'] = tickerData.index.is_month_end
tickerData.head(5)

Ticker            AAPL        TSLA   day_name  isEndOfMonth
Date
2024-02-22  183.503540  197.410004   Thursday         False
2024-02-23  181.662216  191.970001     Friday         False
2024-02-26  180.308609  199.399994     Monday         False
2024-02-27  181.771698  199.729996    Tuesday         False
2024-02-28  180.567398  202.039993  Wednesday         False

In [68]:
# we can see all the attributes using as below 
help(tickerData.index)

Help on DatetimeIndex in module pandas.core.indexes.datetimes object:

class DatetimeIndex(pandas.core.indexes.datetimelike.DatetimeTimedeltaMixin)
 |  DatetimeIndex(data=None, freq: 'Frequency | lib.NoDefault' = <no_default>, tz=<no_default>, normalize: 'bool | lib.NoDefault' = <no_default>, closed=<no_default>, ambiguous: 'TimeAmbiguous' = 'raise', dayfirst: 'bool' = False, yearfirst: 'bool' = False, dtype: 'Dtype | None' = None, copy: 'bool' = False, name: 'Hashable | None' = None) -> 'Self'
 |
 |  Immutable ndarray-like of datetime64 data.
 |
 |  Represented internally as int64, and which can be boxed to Timestamp objects
 |  that are subclasses of datetime and carry metadata.
 |
 |  .. versionchanged:: 2.0.0
 |      The various numeric date/time attributes (:attr:`~DatetimeIndex.day`,
 |      :attr:`~DatetimeIndex.month`, :attr:`~DatetimeIndex.year` etc.) now have dtype
 |      ``int32``. Previously they had dtype ``int64``.
 |
 |  Parameters
 |  ----------
 |  data : array-like (1-dimensional)
 |      Datetime-like data to construct index with.
 |  freq : str or pandas offset object, optional
 |      One of pandas date offset strings or corresponding objects. The string
 |      'infer' can be passed in order to set the frequency of the index as the
 |      inferred frequency upon creation.
 |  tz : pytz.timezone or dateutil.tz.tzfile or datetime.tzinfo or str
 |      Set the Timezone of the data.
 |  normalize : bool, default False
 |      Normalize start/end dates to midnight before generating date range.
 |
 |      .. deprecated:: 2.1.0
 |
 |  closed : {'left', 'right'}, optional
 |      Set whether to include `start` and `end` that are on the
 |      boundary. The default includes boundary points on either end.
 |
 |      .. deprecated:: 2.1.0
 |
 |  ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
 |      When clocks moved backward due to DST, ambiguous times may arise.
 |      For example in Central European Time (UTC+01), when going from 03:00
 |      DST to 02:00 non-DST, 02:30:00 local time occurs both at 00:30:00 UTC
 |      and at 01:30:00 UTC. In such a situation, the `ambiguous` parameter
 |      dictates how ambiguous times should be handled.
 |
 |      - 'infer' will attempt to infer fall dst-transition hours based on
 |        order
 |      - bool-ndarray where True signifies a DST time, False signifies a
 |        non-DST time (note that this flag is only applicable for ambiguous
 |        times)
 |      - 'NaT' will return NaT where there are ambiguous times
 |      - 'raise' will raise an AmbiguousTimeError if there are ambiguous times.
 |  dayfirst : bool, default False
 |      If True, parse dates in `data` with the day first order.
 |  yearfirst : bool, default False
 |      If True parse dates in `data` with the year first order.
 |  dtype : numpy.dtype or DatetimeTZDtype or str, default None
 |      Note that the only NumPy dtype allowed is `datetime64[ns]`.
 |  copy : bool, default False
 |      Make a copy of input ndarray.
 |  name : label, default None
 |      Name to be stored in the index.
 |
 |  Attributes
 |  ----------
 |  year
 |  month
 |  day
 |  hour
 |  minute
 |  second
 |  microsecond
 |  nanosecond
 |  date
 |  time
 |  timetz
 |  dayofyear
 |  day_of_year
 |  dayofweek
 |  day_of_week
 |  weekday
 |  quarter
 |  tz
 |  freq
 |  freqstr
 |  is_month_start
 |  is_month_end
 |  is_quarter_start
 |  is_quarter_end
 |  is_year_start
 |  is_year_end
 |  is_leap_year
 |  inferred_freq
 |
 |  Methods
 |  -------
 |  normalize
 |  strftime
 |  snap
 |  tz_convert
 |  tz_localize
 |  round
 |  floor
 |  ceil
 |  to_period
 |  to_pydatetime
 |  to_series
 |  to_frame
 |  month_name
 |  day_name
 |  mean
 |  std
 |
 |  See Also
 |  --------
 |  Index : The base pandas Index type.
 |  TimedeltaIndex : Index of timedelta64 data.
 |  PeriodIndex : Index of Period data.
 |  to_datetime : Convert argument to datetime.
 |  date_range : Create a fixed-frequency DatetimeIndex.
 |
 |  Notes
 |  -----
 |  To learn more about the frequency strings, please see `this link
 |  <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.
 |
 |  Examples
 |  --------
 |  >>> idx = pd.DatetimeIndex(["1/1/2020 10:00:00+00:00", "2/1/2020 11:00:00+00:00"])
 |  >>> idx
 |  DatetimeIndex(['2020-01-01 10:00:00+00:00', '2020-02-01 11:00:00+00:00'],
 |  dtype='datetime64[ns, UTC]', freq=None)
 |
 |  Method resolution order:
 |      DatetimeIndex
 |      pandas.core.indexes.datetimelike.DatetimeTimedeltaMixin
 |      pandas.core.indexes.datetimelike.DatetimeIndexOpsMixin
 |      pandas.core.indexes.extension.NDArrayBackedExtensionIndex
 |      pandas.core.indexes.extension.ExtensionIndex
 |      pandas.core.indexes.base.Index
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.arraylike.OpsMixin
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      abc.ABC
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __reduce__(self)
 |      Helper for pickle.
 |
 |  as_unit(self, *args, **kwargs) from pandas.core.indexes.extension._inherit_from_data.<locals>
 |      # error: Incompatible redefinition (redefinition with type "Callable[[Any,
 |      # VarArg(Any), KwArg(Any)], Any]", original type "property")
 |
 |  ceil(self, *args, **kwargs) from pandas.core.indexes.extension._inherit_from_data.<locals>
 |      Perform ceil operation on the data to the specified `freq`.
 |
 |      Parameters
 |      ----------
 |      freq : str or Offset
 |          The frequency level to ceil the index to. Must be a fixed
 |          frequency like 'S' (second) not 'ME' (month end). See
 |          :ref:`frequency aliases <timeseries.offset_aliases>` for
 |          a list of possible `freq` values.
 |      ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
 |          Only relevant for DatetimeIndex:
 |
 |          - 'infer' will attempt to infer fall dst-transition hours based on
 |            order
 |          - bool-ndarray where True signifies a DST time, False designates
 |            a non-DST time (note that this flag is only applicable for
 |            ambiguous times)
 |          - 'NaT' will return NaT where there are ambiguous times
 |          - 'raise' will raise an AmbiguousTimeError if there are ambiguous
 |            times.
 |
 |      nonexistent : 'shift_forward', 'shift_backward', 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      DatetimeIndex, TimedeltaIndex, or Series
 |          Index of the same type for a DatetimeIndex or TimedeltaIndex,
 |          or a Series with the same index for a Series.
 |
 |      Raises
 |      ------
 |      ValueError if the `freq` cannot be converted.
 |
 |      Notes
 |      -----
 |      If the timestamps have a timezone, ceiling will take place relative to the
 |      local ("wall") time and re-localized to the same timezone. When ceiling
 |      near daylight savings time, use ``nonexistent`` and ``ambiguous`` to
 |      control the re-localization behavior.
 |
 |      Examples
 |      --------
 |      **DatetimeIndex**
 |
 |      >>> rng = pd.date_range('1/1/2018 11:59:00', periods=3, freq='min')
 |      >>> rng
 |      DatetimeIndex(['2018-01-01 11:59:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:01:00'],
 |                    dtype='datetime64[ns]', freq='min')
 |      >>> rng.ceil('h')
 |      DatetimeIndex(['2018-01-01 12:00:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 13:00:00'],
 |                    dtype='datetime64[ns]', freq=None)
 |
 |      **Series**
 |
 |      >>> pd.Series(rng).dt.ceil("h")
 |      0   2018-01-01 12:00:00
 |      1   2018-01-01 12:00:00
 |      2   2018-01-01 13:00:00
 |      dtype: datetime64[ns]
 |
 |      When rounding near a daylight savings time transition, use ``ambiguous`` or
 |      ``nonexistent`` to control how the timestamp should be re-localized.
 |
 |      >>> rng_tz = pd.DatetimeIndex(["2021-10-31 01:30:00"], tz="Europe/Amsterdam")
 |
 |      >>> rng_tz.ceil("h", ambiguous=False)
 |      DatetimeIndex(['2021-10-31 02:00:00+01:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |      >>> rng_tz.ceil("h", ambiguous=True)
 |      DatetimeIndex(['2021-10-31 02:00:00+02:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |  day_name(self, *args, **kwargs) from pandas.core.indexes.extension._inherit_from_data.<locals>
 |      Return the day names with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : str, optional
 |          Locale determining the language in which to return the day name.
 |          Default is English locale (``'en_US.utf8'``). Use the command
 |          ``locale -a`` on your terminal on Unix systems to find your locale
 |          language code.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Series or Index of day names.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(pd.date_range(start='2018-01-01', freq='D', periods=3))
 |      >>> s
 |      0   2018-01-01
 |      1   2018-01-02
 |      2   2018-01-03
 |      dtype: datetime64[ns]
 |      >>> s.dt.day_name()
 |      0       Monday
 |      1      Tuesday
 |      2    Wednesday
 |      dtype: object
 |
 |      >>> idx = pd.date_range(start='2018-01-01', freq='D', periods=3)
 |      >>> idx
 |      DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03'],
 |                    dtype='datetime64[ns]', freq='D')
 |      >>> idx.day_name()
 |      Index(['Monday', 'Tuesday', 'Wednesday'], dtype='object')
 |
 |      Using the ``locale`` parameter you can set a different locale language,
 |      for example: ``idx.day_name(locale='pt_BR.utf8')`` will return day
 |      names in Brazilian Portuguese language.
 |
 |      >>> idx = pd.date_range(start='2018-01-01', freq='D', periods=3)
 |      >>> idx
 |      DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03'],
 |                    dtype='datetime64[ns]', freq='D')
 |      >>> idx.day_name(locale='pt_BR.utf8') # doctest: +SKIP
 |      Index(['Segunda', 'TerÃ§a', 'Quarta'], dtype='object')
 |
 |  floor(self, *args, **kwargs) from pandas.core.indexes.extension._inherit_from_data.<locals>
 |      Perform floor operation on the data to the specified `freq`.
 |
 |      Parameters
 |      ----------
 |      freq : str or Offset
 |          The frequency level to floor the index to. Must be a fixed
 |          frequency like 'S' (second) not 'ME' (month end). See
 |          :ref:`frequency aliases <timeseries.offset_aliases>` for
 |          a list of possible `freq` values.
 |      ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
 |          Only relevant for DatetimeIndex:
 |
 |          - 'infer' will attempt to infer fall dst-transition hours based on
 |            order
 |          - bool-ndarray where True signifies a DST time, False designates
 |            a non-DST time (note that this flag is only applicable for
 |            ambiguous times)
 |          - 'NaT' will return NaT where there are ambiguous times
 |          - 'raise' will raise an AmbiguousTimeError if there are ambiguous
 |            times.
 |
 |      nonexistent : 'shift_forward', 'shift_backward', 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      DatetimeIndex, TimedeltaIndex, or Series
 |          Index of the same type for a DatetimeIndex or TimedeltaIndex,
 |          or a Series with the same index for a Series.
 |
 |      Raises
 |      ------
 |      ValueError if the `freq` cannot be converted.
 |
 |      Notes
 |      -----
 |      If the timestamps have a timezone, flooring will take place relative to the
 |      local ("wall") time and re-localized to the same timezone. When flooring
 |      near daylight savings time, use ``nonexistent`` and ``ambiguous`` to
 |      control the re-localization behavior.
 |
 |      Examples
 |      --------
 |      **DatetimeIndex**
 |
 |      >>> rng = pd.date_range('1/1/2018 11:59:00', periods=3, freq='min')
 |      >>> rng
 |      DatetimeIndex(['2018-01-01 11:59:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:01:00'],
 |                    dtype='datetime64[ns]', freq='min')
 |      >>> rng.floor('h')
 |      DatetimeIndex(['2018-01-01 11:00:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:00:00'],
 |                    dtype='datetime64[ns]', freq=None)
 |
 |      **Series**
 |
 |      >>> pd.Series(rng).dt.floor("h")
 |      0   2018-01-01 11:00:00
 |      1   2018-01-01 12:00:00
 |      2   2018-01-01 12:00:00
 |      dtype: datetime64[ns]
 |
 |      When rounding near a daylight savings time transition, use ``ambiguous`` or
 |      ``nonexistent`` to control how the timestamp should be re-localized.
 |
 |      >>> rng_tz = pd.DatetimeIndex(["2021-10-31 03:30:00"], tz="Europe/Amsterdam")
 |
 |      >>> rng_tz.floor("2h", ambiguous=False)
 |      DatetimeIndex(['2021-10-31 02:00:00+01:00'],
 |                   dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |      >>> rng_tz.floor("2h", ambiguous=True)
 |      DatetimeIndex(['2021-10-31 02:00:00+02:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |  get_loc(self, key)
 |      Get integer location for requested label
 |
 |      Returns
 |      -------
 |      loc : int
 |
 |  indexer_at_time(self, time, asof: 'bool' = False) -> 'npt.NDArray[np.intp]'
 |      Return index locations of values at particular time of day.
 |
 |      Parameters
 |      ----------
 |      time : datetime.time or str
 |          Time passed in either as object (datetime.time) or as string in
 |          appropriate format ("%H:%M", "%H%M", "%I:%M%p", "%I%M%p",
 |          "%H:%M:%S", "%H%M%S", "%I:%M:%S%p", "%I%M%S%p").
 |
 |      Returns
 |      -------
 |      np.ndarray[np.intp]
 |
 |      See Also
 |      --------
 |      indexer_between_time : Get index locations of values between particular
 |          times of day.
 |      DataFrame.at_time : Select values at particular time of day.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.DatetimeIndex(["1/1/2020 10:00", "2/1/2020 11:00",
 |      ...                         "3/1/2020 10:00"])
 |      >>> idx.indexer_at_time("10:00")
 |      array([0, 2])
 |
 |  indexer_between_time(self, start_time, end_time, include_start: 'bool' = True, include_end: 'bool' = True) -> 'npt.NDArray[np.intp]'
 |      Return index locations of values between particular times of day.
 |
 |      Parameters
 |      ----------
 |      start_time, end_time : datetime.time, str
 |          Time passed either as object (datetime.time) or as string in
 |          appropriate format ("%H:%M", "%H%M", "%I:%M%p", "%I%M%p",
 |          "%H:%M:%S", "%H%M%S", "%I:%M:%S%p","%I%M%S%p").
 |      include_start : bool, default True
 |      include_end : bool, default True
 |
 |      Returns
 |      -------
 |      np.ndarray[np.intp]
 |
 |      See Also
 |      --------
 |      indexer_at_time : Get index locations of values at particular time of day.
 |      DataFrame.between_time : Select values between particular times of day.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.date_range("2023-01-01", periods=4, freq="h")
 |      >>> idx
 |      DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 01:00:00',
 |                         '2023-01-01 02:00:00', '2023-01-01 03:00:00'],
 |                        dtype='datetime64[ns]', freq='h')
 |      >>> idx.indexer_between_time("00:00", "2:00", include_end=False)
 |      array([0, 1])
 |
 |  isocalendar(self) -> 'DataFrame'
 |      Calculate year, week, and day according to the ISO 8601 standard.
 |
 |      Returns
 |      -------
 |      DataFrame
 |          With columns year, week and day.
 |
 |      See Also
 |      --------
 |      Timestamp.isocalendar : Function return a 3-tuple containing ISO year,
 |          week number, and weekday for the given Timestamp object.
 |      datetime.date.isocalendar : Return a named tuple object with
 |          three components: year, week and weekday.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.date_range(start='2019-12-29', freq='D', periods=4)
 |      >>> idx.isocalendar()
 |                  year  week  day
 |      2019-12-29  2019    52    7
 |      2019-12-30  2020     1    1
 |      2019-12-31  2020     1    2
 |      2020-01-01  2020     1    3
 |      >>> idx.isocalendar().week
 |      2019-12-29    52
 |      2019-12-30     1
 |      2019-12-31     1
 |      2020-01-01     1
 |      Freq: D, Name: week, dtype: UInt32
 |
 |  month_name(self, *args, **kwargs) from pandas.core.indexes.extension._inherit_from_data.<locals>
 |      Return the month names with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : str, optional
 |          Locale determining the language in which to return the month name.
 |          Default is English locale (``'en_US.utf8'``). Use the command
 |          ``locale -a`` on your terminal on Unix systems to find your locale
 |          language code.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Series or Index of month names.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(pd.date_range(start='2018-01', freq='ME', periods=3))
 |      >>> s
 |      0   2018-01-31
 |      1   2018-02-28
 |      2   2018-03-31
 |      dtype: datetime64[ns]
 |      >>> s.dt.month_name()
 |      0     January
 |      1    February
 |      2       March
 |      dtype: object
 |
 |      >>> idx = pd.date_range(start='2018-01', freq='ME', periods=3)
 |      >>> idx
 |      DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31'],
 |                    dtype='datetime64[ns]', freq='ME')
 |      >>> idx.month_name()
 |      Index(['January', 'February', 'March'], dtype='object')
 |
 |      Using the ``locale`` parameter you can set a different locale language,
 |      for example: ``idx.month_name(locale='pt_BR.utf8')`` will return month
 |      names in Brazilian Portuguese language.
 |
 |      >>> idx = pd.date_range(start='2018-01', freq='ME', periods=3)
 |      >>> idx
 |      DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31'],
 |                    dtype='datetime64[ns]', freq='ME')
 |      >>> idx.month_name(locale='pt_BR.utf8')  # doctest: +SKIP
 |      Index(['Janeiro', 'Fevereiro', 'MarÃ§o'], dtype='object')
 |
 |  normalize(self, *args, **kwargs) from pandas.core.indexes.extension._inherit_from_data.<locals>
 |      Convert times to midnight.
 |
 |      The time component of the date-time is converted to midnight i.e.
 |      00:00:00. This is useful in cases, when the time does not matter.
 |      Length is unaltered. The timezones are unaffected.
 |

## creating a dataframe with my daterange

In [69]:
# if we notice the intial dataframe we have data from 2024-02-22 to 2025-02-21
# lets say we want to add empty dates i.e. the holday to the dataframe this is the way to go about it. 

#here we are creating a data frame by including all the dates for a slightly expanded date range
all_dates = pd.date_range(start='2024-02-18', end = '2025-02-28', freq='1d')
all_dates

DatetimeIndex(['2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27',
               ...
               '2025-02-19', '2025-02-20', '2025-02-21', '2025-02-22',
               '2025-02-23', '2025-02-24', '2025-02-25', '2025-02-26',
               '2025-02-27', '2025-02-28'],
              dtype='datetime64[ns]', length=377, freq='D')

In [70]:
# now to addtional days can added to the initial dataframe as shown below:
tickerData = tickerData.reindex(all_dates)
tickerData.head(8)

Ticker            AAPL        TSLA  day_name isEndOfMonth
2024-02-18         NaN         NaN       NaN          NaN
2024-02-19         NaN         NaN       NaN          NaN
2024-02-20         NaN         NaN       NaN          NaN
2024-02-21         NaN         NaN       NaN          NaN
2024-02-22  183.503540  197.410004  Thursday        False
2024-02-23  181.662216  191.970001    Friday        False
2024-02-24         NaN         NaN       NaN          NaN
2024-02-25         NaN         NaN       NaN          NaN

thus the non-working days also included now. and they have NaN for the other columns as value

In [71]:
# now if want the day_name, isEndOfMonth to be shown for the newly added records. then those need to be revalueated as
tickerData['day_name'] = tickerData.index.day_name()
tickerData['isEndOfMonth'] = tickerData.index.is_month_end
tickerData.head(10)

Ticker            AAPL        TSLA   day_name  isEndOfMonth
2024-02-18         NaN         NaN     Sunday         False
2024-02-19         NaN         NaN     Monday         False
2024-02-20         NaN         NaN    Tuesday         False
2024-02-21         NaN         NaN  Wednesday         False
2024-02-22  183.503540  197.410004   Thursday         False
2024-02-23  181.662216  191.970001     Friday         False
2024-02-24         NaN         NaN   Saturday         False
2024-02-25         NaN         NaN     Sunday         False
2024-02-26  180.308609  199.399994     Monday         False
2024-02-27  181.771698  199.729996    Tuesday         False

## filling missing data

### bfill - backfill
it takes the first available value inside a columne and then it propagates it upwards

In [78]:
#tickerData.fillna(method='bfill')
tickerData.bfill(axis=0, inplace=True)
tickerData.head(10)

Ticker            AAPL        TSLA   day_name  isEndOfMonth
2024-02-18  183.503540  197.410004     Sunday         False
2024-02-19  183.503540  197.410004     Monday         False
2024-02-20  183.503540  197.410004    Tuesday         False
2024-02-21  183.503540  197.410004  Wednesday         False
2024-02-22  183.503540  197.410004   Thursday         False
2024-02-23  181.662216  191.970001     Friday         False
2024-02-24  180.308609  199.399994   Saturday         False
2024-02-25  180.308609  199.399994     Sunday         False
2024-02-26  180.308609  199.399994     Monday         False
2024-02-27  181.771698  199.729996    Tuesday         False

### ffill -forward fill

In [79]:
tickerData.tail(10)

Ticker            AAPL        TSLA   day_name  isEndOfMonth
2025-02-19  244.869995  360.559998  Wednesday         False
2025-02-20  245.830002  354.399994   Thursday         False
2025-02-21  245.550003  337.799988     Friday         False
2025-02-22         NaN         NaN   Saturday         False
2025-02-23         NaN         NaN     Sunday         False
2025-02-24         NaN         NaN     Monday         False
2025-02-25         NaN         NaN    Tuesday         False
2025-02-26         NaN         NaN  Wednesday         False
2025-02-27         NaN         NaN   Thursday         False
2025-02-28         NaN         NaN     Friday          True

In [81]:
# similarly we can do the opposite using forward fill
tickerData.ffill(axis=0, inplace=True)
tickerData.tail(10)

Ticker            AAPL        TSLA   day_name  isEndOfMonth
2025-02-19  244.869995  360.559998  Wednesday         False
2025-02-20  245.830002  354.399994   Thursday         False
2025-02-21  245.550003  337.799988     Friday         False
2025-02-22  245.550003  337.799988   Saturday         False
2025-02-23  245.550003  337.799988     Sunday         False
2025-02-24  245.550003  337.799988     Monday         False
2025-02-25  245.550003  337.799988    Tuesday         False
2025-02-26  245.550003  337.799988  Wednesday         False
2025-02-27  245.550003  337.799988   Thursday         False
2025-02-28  245.550003  337.799988     Friday          True